/* Necessary because the global fonts cannot render AĂÂIÎSȘTȚ uniformly */

body {
  font-family: 'DejaVu Sans', Arial, sans-serif;
  font-size: 1.15em;
}

@font-face {
	  font-family: 'Dosis-RO';
	  src: local('Dosis'), url('./fonts/Dosis/Dosis-ExtraLight.otf') format('opentype');
}

h1 {  font-size: 2.75em;  font-family: 'Dosis-RO'; }
h2 {  font-size: 2.75em;  font-family: 'Dosis-RO'; }
h3 {  font-size: 1.625em; font-family: 'Dosis-RO'; }

ul.os a.current,
.main dt,
.troubleshooting dt,
strong {
  font-family: 'DejaVu Sans';
  font-weight: bold;
}
